*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
            /* START-NAVBAR */

.main{
    width: 100%;
    height: 80px;
    display: flex;
}
            /* START-IMG */
.main img{
    width: 300px;
    height: 80px;
    cursor: pointer;
}
            /* START NAV */
.nav{
    text-align: center;
}
.nav ul li{
    display: inline-block;
    padding: 30px 20px;
    font-size: 20px;
}
.nav ul{
    margin-left: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
}
.nav ul li a:hover{
    color:rgb(139, 210, 32) ;
}
            /* STYLING HR */
.hr{
    color: #525050;
}
            /* START-CONTENT */

.content{
    width: 100%;
    height:500px;
    display: flex;
}

.text h1{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 45px;
}
.text span{
    color:rgb(139, 210, 32) ;
}
.text h3{
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
    font-size: 27px;
}
.text p{
    padding-left: 50px;
    font-size: 18px;
    padding-bottom: 30px;
}
.text button{
    padding: 18px 40px;
    margin-left: 50px;
    background-color: #fff;
    border:1px solid #000 ;
    border-radius: 5px;
    cursor: pointer;
}
.text button:hover{
    border:2px solid rgb(139, 210, 32);
    color: rgb(139, 210, 32);
    font-size: 15px;
}
            /* IMAGE */
.image img{
    width: 85%;
    height: 480px;
    padding-left:110px;
    padding-top: 25px;
}